<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UdhbUetdsEsyaWsServicePortBinding2">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="UdhbUetdsEsyaWsServicePortBinding3" />
                <binding name="UdhbUetdsEsyaWsServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UdhbUetdsEsyaWsServicePortBinding1" />
                <binding name="UdhbUetdsEsyaWsServicePortBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="UdhbUetdsEsyaWsServicePortBinding5" />
                <binding name="UdhbUetdsEsyaWsServicePortBinding6">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" />
                  </security>
                </binding>
                <binding name="UdhbUetdsEsyaWsServicePortBinding7" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servis.turkiye.gov.tr/services/g2g/kdgm/test/uetdsesya"
                binding="basicHttpBinding" bindingConfiguration="UdhbUetdsEsyaWsServicePortBinding2"
                contract="UEDTSTestService.UdhbUetdsEsyaWsService" name="UdhbUetdsEsyaWsServicePort1" />
            <endpoint address="https://servis.turkiye.gov.tr/services/g2g/kdgm/uetdsesya"
                binding="basicHttpBinding" bindingConfiguration="UdhbUetdsEsyaWsServicePortBinding"
                contract="UetdsService.UdhbUetdsEsyaWsService" name="UdhbUetdsEsyaWsServicePort" />
            <endpoint address="https://servis.turkiye.gov.tr/services/g2g/kdgm/uetdsesya"
                binding="basicHttpBinding" bindingConfiguration="UdhbUetdsEsyaWsServicePortBinding4"
                contract="NewUetdsService.UdhbUetdsEsyaWsService" name="UdhbUetdsEsyaWsServicePort2" />
            <endpoint address="https://servis.turkiye.gov.tr/services/g2g/kdgm/uetdsesya"
                binding="basicHttpBinding" bindingConfiguration="UdhbUetdsEsyaWsServicePortBinding6"
                contract="NewService.UdhbUetdsEsyaWsService" name="UdhbUetdsEsyaWsServicePort3" />
        </client>
    </system.serviceModel>
</configuration>
